@media print {
  #root {
    display: grid;
    background-color: white;
    grid-template-columns: 45% 55%;
    grid-template-rows: max(15rem, fit-content) auto;
    print-color-adjust: exact;
  }

  #root > *:nth-of-type(-1n + 1) {
    margin: 0;
    height: 100%;
    border-bottom: solid black 0.2rem;
  }

  #portrait-container {
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
      height: auto;
      max-height: 80%;
      max-width: 80%;
      border: none;
    }
  }

  button {
    display: none;
  }
}
