@media print {
  body {
    background-color: white;
    print-color-adjust: exact;
    max-width: unset;
  }

  #root {
    display: grid;
    grid-template-columns: 45% 55%;
  }

  #root > header {
    grid-column-start: span 2;
    display: grid;
    grid-template-columns: 35% auto;
    border-bottom: solid black 0.2rem;
    margin: 0;
  }

  #portrait-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    & img {
      height: auto;
      max-height: 80%;
      max-width: 80%;
      border: none;
    }
  }

  button {
    display: none;
  }
}
