body {
  background-color: #add2cc;
  max-width: 100vw;
}

form > div {
  width: fit-content;
  margin: 1rem 0 2rem;
}

#portrait-container {
  margin: 1rem 0;
}

fieldset {
  width: fit-content;
}

label {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 0.3rem 0;

  & input,
  textarea {
    flex: 1;
    font-size: 1rem;
  }

  & img {
    height: 2rem;
  }
}

h2 {
  display: inline;
  font-weight: normal;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

h2 + button {
  margin-left: 0.5rem;
}

p {
  margin-top: 0;
}

button {
  cursor: pointer;
  border-style: none;
  border-radius: 0.2rem;
  padding: 0.2rem;
  margin-right: 0.5rem;
  color: black;
  font-weight: normal;
  padding: 0.2rem 0.5rem;

  &:hover {
    filter: brightness(0.95);
  }

  &:active {
    filter: brightness(0.85);
  }

  &:disabled {
    cursor: not-allowed;
    filter: brightness(0.7);
  }
}

button.negative {
  background-color: #c5655d;
}

button.positive {
  background-color: #50c983;
}

button.with-icon {
  display: flex;
  gap: 0.2rem;
  justify-self: right;
  margin: 0 0 0.5rem;
}

button.icon {
  height: 1rem;
}

[data-repeating-section] {
  background-color: #72b5ae;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 1rem;
  width: fit-content;

  & .actions {
    margin-top: 2rem;
    display: flex;
    gap: 0.5rem;

    & :last-child {
      margin-left: auto;
    }
  }
}

fieldset {
  border-color: #677d79;
}

#portrait-container {
  height: 10rem;

  & img {
    height: 100%;
    border: solid black 2px;
  }
}
